node_modules
.DS_Store
.idea
.vscode
dist
build
.turbo
.env
.env.*
!.env.example
coverage
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub
ios/Pods
android/.gradle

